@font-face {
    font-family: "yekan";
    font-weight: 400;
    font-style: normal;
    src: url(/Assets/fonts/iranyekanwebregular.woff) format("woff");
}

@font-face {
    font-family: "yekan";
    font-weight: 700;
    font-style: normal;
    src: url(/Assets/fonts/iranyekanwebbold.woff) format("woff");
}

body{
    font-family: "yekan";
}